* {
    box-sizing: border-box;
}

body, html {
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color:  hsl(225, 20%, 60%);
    background: url(./images/bg-pattern.svg) no-repeat hsl(230, 100%, 99%);
    height: 100vh;
}

.container {
    max-width: 375px;
    height: 700px;
    margin: 0 auto;
}

/* title + text */

header {
    margin-top: 20px;
    
    background: url(./images/pattern-circles.svg) no-repeat center;
    padding: 40px;
}

h3 {
    font-weight: 800;
    color: hsl(227, 35%, 25%);
    
}

/* Card */

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 9px;
    overflow: hidden;
    width: 325px;
    padding-bottom: 100px;
    margin: 0 auto;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    position: relative;
}


.prices {
    padding-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 15px;
}

.priceValue {
    margin-top: 40px;
    
}

.priceValue {
    font-size: 36px;
    color: hsl(227, 35%, 25%);
    font-weight: 700;
}
.priceOption {
    font-size: 15px;
    color: hsl(225, 20%, 60%);
    font-weight: 600;
}


.priceValue > p {
    font-size: 16px;
}

.card--range--priceRange {
    color: hsl(227, 35%, 25%);
    font-size: 36px;
}


.card--billing {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 40px; 
    font-size: 12px;
    position: relative;
}
.card--monthly--billing {
    margin-right: 20px;
}



.switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 24px;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}


.card--billing--switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #D0D8EF;
    -webkit-transition: .4s;
    transition: .4s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #7BEDE5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7BEDE5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card--billing--discount {
    padding: 2px 10px;
    background: hsl(15, 100%, 90%);
    border-radius: 20px;
    color: hsl(15, 100%, 70%);
}

/* Checkmark text */

.card--container--check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.card--container--check > p {
    margin: 0;
}

.card--container--check:first-child {
    border-top: 1px hsl(225, 20%, 90%) solid;
    padding-top: 20px;
}

.card--container--check svg {
    margin-right: 10px;
}

/* Button */

.card--container--btn {
    padding: 10px 30px;
    background-color: hsl(227, 35%, 25%);
    border-radius: 20px;
    color:  hsl(226, 100%, 87%);
    text-decoration: none;
    cursor: pointer;
    transform: translatex(-50%);
    position: absolute;
    bottom: 40px;
}

.card--container--btn:hover,
.card--container--btn:focus {
    color: #fff;
} 


/* Styled slider */
input[type=range].styled-slider {
  height: 2.2em;
  width: 18rem;
  -webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4em;
  height: 4em;
  border-radius: 50px;
  background: #0ED9C5 url(/images/icon-slider.svg) no-repeat center;
  border: none;
  box-shadow: 0 5px 57px 3px #0ED9C5;
  margin-top: calc(max((1em - 1px - 1px) * 0.5,0px) - 4em * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #E9F0FA;
  box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
  background: #0ED9C5 url(/images/icon-slider.svg) no-repeat center;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: #E9F0FA;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
  background: #25ADA1 url(/images/icon-slider.svg) no-repeat center;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: #E9F0FA;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#A3F3E8,#A3F3E8) 0/var(--sx) 100% no-repeat, #E9F0FA;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#A3F3E8,#A3F3E8) 0/var(--sx) 100% no-repeat, #E9F0FA;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#A3F3E8,#A3F3E8) 0/var(--sx) 100% no-repeat, #E9F0FA;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background: #0ED9C5;
  border: none;
  box-shadow: 0 5px 57px 3px #0ED9C5;
}

input[type=range].styled-slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px),0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #E9F0FA;
  box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
  background: #0ED9C5;
}

input[type=range].styled-slider:hover::-moz-range-track {
  background: #E9F0FA;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-moz-range-thumb:active {
  background: #25ADA1;
}

input[type=range].styled-slider:active::-moz-range-track {
  background: #E9F0FA;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#A3F3E8,#A3F3E8) 0/var(--sx) 100% no-repeat, #E9F0FA;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#A3F3E8,#A3F3E8) 0/var(--sx) 100% no-repeat, #E9F0FA;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(#A3F3E8,#A3F3E8) 0/var(--sx) 100% no-repeat, #E9F0FA;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background: #0ED9C5;
  border: none;
  box-shadow: 0 5px 57px 3px #0ED9C5;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #E9F0FA;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
  background: #0ED9C5;
}

input[type=range].styled-slider:hover::-ms-track {
  background: #E9F0FA;
  border-color: #9a9a9a;
}

input[type=range].styled-slider::-ms-thumb:active {
  background: #25ADA1;
}

input[type=range].styled-slider:active::-ms-track {
  background: #E9F0FA;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px),0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #A3F3E8;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: #A3F3E8;
  border-color: #9a9a9a;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
  background: #A3F3E8;
  border-color: #c1c1c1;
}



/* range slider */

/* .range {
    height: 80px;
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65 0 45px;
}

.sliderValue {
    width: 330px;
    padding-bottom: 200px;
}

.range .field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
}

.range .field .value.left{
    left: -22px;
}

.range .field .value.right{
    right: -43px;
}

.range .field input{
    -webkit-appearance: none;
    height: 7px;
    width: 75%;
    
    background: hsl(174, 86%, 85%);
    border-radius: 5px;
    outline: 0;
    border: none;
    
}

.range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: hsl(174, 86%, 45%) url(./images/icon-slider.svg) no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 2.98256px 7.4564px rgba(16, 213, 194, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background:white;
    box-shadow: -205px 0 0 200px red;
} */